    <!-- 푸터 -->
    <footer class="common-footer">
        <div class="footer-wrap">
            <div class="footer-logo">
                <img class="" src="/public/images/img1/logo-Resoft.svg" alt="리소프트 로고 이미지">
                <span class="copyright">ⓒ RESOFT CO.LTD. ALL Rights Reserved.</span>
            </div>
            <div class="footer-text">
                <div class="footer-left">                        
                    <p>상호 : (주)리소프트</p>                    
                    <p>사업자등록번호 : 722-81-02219</p>
                    <p>주소 : (41260) 대구광역시 동구 동대구로 465, 대구스케일업허브(DASH) 713호 (신천동 106)</p>   
                </div> 
                <div class="footer-right">
                    <p>대표이사 : 오유나 <span>개인정보책임자 : 이현지</span></p> 
                    <p>전화 : (053) 475-2110 <span>팩스 : 0504-196-4500 </span><span>이메일 : call@resoft.kr</span></p>       
                </div>
            </div>
        </div>
</footer>