<header id="header">
    <div class="won">
        <a class="logo" href="/"><img src="/public/images/img1/logo-Resoft.svg" alt="로고"></a>
        <div id="gon">
            <nav>
                <ul id="main-nav">
                    <li><a class="dpdl here" href="/about">회사소개</a>
                        <ul class="so close paddingpx1">
                            <li><a class="menu" href="/about">회사소개</a></li>
                            <li><a href="/about#intro">REsoft소개</a></li>
                            <li><a href="/about#history">연혁</a></li>
                            <li><a href="/about#organ">조직도</a></li>
                            <li><a href="/about#certi">특허&인증</a></li>
                            <li><a href="/about#direc">오시는 길</a></li>
                        </ul>
                    </li>
                    <li><a class="dpdl" href="/overview">사업현황</a>
                        <ul class="so close paddingpx2">
                            <li><a class="menu" href="/overview">사업현황</a></li>
                            <li><a href="/overview#content-ecoce">ECOCE</a></li>
                            <li><a href="/overview#content-moado">moaDo</a></li>
                            <li><a href="/overview#content-etc">Etc</a></li>
                        </ul>
                    </li>
                    <li><a class="dpdl" href="/portfolio">포트폴리오</a>
                        <ul class="so close paddingpx3">
                            <li><a class="menu" href="/portfolio">포트폴리오</a></li>
                            <li><a href="/portfolio#">포트폴리오</a></li>
                        </ul>
                    </li>
                    <li><a class="dpdl dhdl" href="/newslist">REsoft소식</a>
                        <ul class="so close paddingpx4">
                            <li><a class="menu" href="/newslist">REsoft소식</a></li>
                            <li><a href="/newslist#news-title-wrap">REsoft소식</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>  
            <div class="so close"></div>
            <a class="ham"><img src="/public/images/img1/company_N_busines_N_yard-menu.svg" alt="토글" ></a>        
        </div>
    </div>
</header>   