<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resoft</title>     
    <!-- favicon -->
    <link rel="shortcut icon" href="/public/images/img1/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    <link rel="stylesheet" href="/public/css/magic.css">

    <link rel="stylesheet" href="/public/css/menu.css">
    <link rel="stylesheet" href="/public/css/about/about.css">

	<!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
	<!-- jquery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script> 
	<!-- js -->
    <script src="/public/js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=859d5827dea74945a8d9243df81edcf3"></script>
    <script src="/public/js/lottie.min.js"></script>
</head>
<body>
<div id="load">
    <img src="/public/images/img1/loading.gif" alt="loading">
</div>

    <!--   네비바   (회사소개 밑줄)-->
    <%- include('../../partials/header.ejs') %>

<div class="top_back" style="width:100%"></div>
<div class="top">
    <p>회사소개</p>
</div>

    <div class="section" id="intro">
        <p class="title">REsoft 소개</p>
        <p class="title2">ABOUT US</p>
        <!-- 리소프트 세부소개-->
        <table class="tg">
            <thead>
                <tr>
                    <th class="tg-01">회사명</th>
                    <th class="tg-02">(주)리소프트</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-01">설립일</td>
                    <td class="tg-02" style="border-left: none;">2021년 05월 06일</td>
                </tr>
                <tr>
                    <td class="tg-01">대표이사</td>
                    <td class="tg-02">오유나</td>
                </tr>
                <tr>
                    <td class="tg-01">주요사업</td>
                    <td class="tg-02">모바일 플랫폼 개발</td>
                </tr>
                <tr>
                    <td class="tg-01">본사</td>
                    <td class="tg-02">대구광역시 동구 동대구로 465호, 대구 스케일업허브(DASH)713호</td>
                </tr>
                <tr>
                    <td class="tg-01">부설 연구소</td>
                    <td class="tg-02">대구광역시 수성구 알파시티1로, SW융합비즈니스센터(DNEX) 305호</td>
                </tr>
                <tr>
                    <td class="tg-01">연락처</td>
                    <td class="tg-02">TEL.(053)-475-2110 / FAX. (0504) 257-5966/ E-mail. call@resoft.kr
                    </td>
                </tr>
            </tbody>
            </table>
    </div>
<!-- 연혁 -->
<div class="backg">
    <div class="section" id="history">
        <p class="title">연혁</p>
        <p class="title2">HISTORY</p>
    
        <!-- 타임라인 적용-->
        <div class="timeline wow fadeInUp" data-wow-delay="0.4s">
            <ul>
                <li>
                    <div class="event">
                        <p class="event1">
                            1
                        </p>
                        <p class="number2">
                            2022
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="event">
                        <p>
                            12
                        </p>
                        <p class="number1 ">
                            2021
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content1">
                        <p>
                            대구여성인력개발센터 MOU 협약 (여성IT인재 현장실습)</p><p>대구가톨릭대학교 계약학과 MOU 협약 (ICTAI융합학과)</p>
                            <p>기업부설연구소(연구개발전담부서) 등록</p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="event">
                        <p>
                            11
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content2">
                        <p>
                            제 38류, 제 45류 상표등록 출원 (Mmate : 제 40-1799224호, 제 40-1799225호)
                        </p>
                    </div>
                </li>
            </ul>

            <ul>
                <li>
                    <div class="event">
                        <p>
                            10
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content2">
                    <p>
                        서울특별시 송파구청 앱 개발 (제8회 한성백제마라톤 비대면 대회)</p> <p> 대구광역시체육회 앱 개발 (2021 대구 마스크쓰고 컬러풀 핫플 걷기)</p>
                        <p> 대구광역시 달서구체육회 앱 개발 (제15회 언택트 달서 하프마라톤 대회)</p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="event">
                        <p class="event2">
                            9
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content2">
                        <p>
                            대구 경북지방중소벤처기업청 여성기업 등록
                        </p>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="event">
                        <p class="event2">
                            8
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content2">
                        <p>
                            구미대학교 MOU 협약 (현장실습학기제)
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="last ">
                <li>
                    <div class="event">
                        <p class="event2">
                            5
                        </p>
                    </div>
                </li>
                <li>
                    <div class="content3">
                        <p>
                            (주)리소프트 회사 설립
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="section" id="organ" >
    <p class="title">조직도</p>
    <p class="title2">ORGANIZATION</p>

    <div class="con">
        <h1 class="dapyo rectangle wow fadeInDown" data-wow-delay=".5s">대표이사</h1>
        <ol class="jojic-wrapper wow fadeInDown" data-wow-delay=".5s">
            <li class=" wow fadeInDown">
                <h2 class="jojic rectangle wow fadeInDown">전략기획부</h2>
                <ul class="wow fadeInDown" data-wow-delay=".5s">
                    <li>유저 Needs 분석</li>
                    <li>고객 수요 확인</li>
                    <li>BM 설계/기획</li>
                    <li>사업화 전략 수집</li>
                    <li>사업계획서 작성</li>
                </ul>
            </li>
            <li class=" wow fadeInDown">
                <h2 class="jojic rectangle wow fadeInDown">개발부</h2>
                <ul class="wow fadeInDown" data-wow-delay=".5s">
                    <li>DB분석/설계</li>
                    <li>Cloud 서버 관리</li>
                    <li>기능 정의</li>
                    <li>기능 구현</li>
                    <li>기능 테스트</li>
                </ul>
            </li>
            <li class="ho wow fadeInDown">
                <h2 class="jojic rectangle wow fadeInDown">디자인부</h2>
                <ul class="wow fadeInDown" data-wow-delay=".5s">
                    <li>디자인 트랜드 분석</li>
                    <li>브랜드 디자인</li>
                    <li>웹사이트 디자인</li>
                    <li>모바일 앱 디자인</li>
                    <li>상품개발 디자인</li>
                </ul>
            </li>
            <li class="ho wow fadeInDown">
                <h2 class="jojic rectangle wow fadeInDown">마케팅부</h2>
                <ul class="wow fadeInDown" data-wow-delay=".5s">
                    <li>서비스 시장조사</li>
                    <li>시장동향 분석</li>
                    <li>시장성 검증</li>
                    <li>온라인 채널 운영</li>
                    <li>오프라인 광고</li>
                </ul>
            </li>
            <li class="ho wow fadeInDown">
                <h2 class="jojic rectangle wow fadeInDown">경영지원부</h2>
                <ul class="wow fadeInDown" data-wow-delay=".5s">
                    <li>경영 업무 지원</li>
                    <li>업무 환경 지원</li>
                    <li>세무 업무 지원</li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<div class="backg">
    <div class="section" id="certi" style="padding-bottom: 0px;">
        <p class="title">특허&인증</p>
        <p class="title2">CERTIFICATION & PATENT</p>
        <span class="box">
            <% for(i=0; i < certi.length; i++) {%>
            <img class="wow fadeIn" src="../<%=certi[i].certiImage%>" alt="" >
            <%}%>
        </span>
        <div class="arrow">
            <!-- <img src="/public/images/img2/short.png" alt="">
            <img src="/public/images/img2/more.png" alt=""> -->
            <img class="up close" src="/public/images/img2/short_blue.png" alt="">
            <img class="down" src="/public/images/img2/more_blue.png" alt="">
        </div>
    </div>
</div>

<div class="section" id="direc">
    <p class="title">오시는길</p>
    <p class="title2"> DIRECTIONS</p>
    <div class="wow fadeIn" data-wow-delay="0.5s" id="map"></div>

        <script>
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        var options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(35.871691843254716, 128.62496478375644), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴			

        // 마커가 표시될 위치입니다 
        var markerPosition = new kakao.maps.LatLng(35.871691843254716, 128.62496478375644);

        var imageSrc = '/public/images/img2/map_marker.png', // 마커이미지의 주소입니다    
            imageSize = new kakao.maps.Size(220, 45), // 마커이미지의 크기입니다
            imageOption = {
                offset: new kakao.maps.Point(27, 69)
            }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
            markerPosition = new kakao.maps.LatLng(35.871691843254716, 128.62496478375644); // 마커가 표시될 위치입니다
                
        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition,
            image: markerImage
        });			
        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
        //애니메이션 -> wow로 대체

        </script>

    <table style="margin: 0 auto; width:77%">
        <tr class="map-text">
            <td class="map-text-title">연락처</td>
            <td class="map-text-sub"><div><p>TELL. (053) 475-2110 </p> <p> FAX. (0504) 257-5966</p> <p> E-MAIL. call@resoft.kr</p></div></td>
        </tr>
    </table>
        <span class="border-b"></span>
    <table style="margin: 0 auto; width:78%">
        <tr class="map-text2">
            <td class="map-text-title">주소</td>
            <td class="map-text-sub2"><div><p> (41260) 대구광역시</p> <p> 동구 동대구로 465,</p> <p> 대구스케일업허브(DASH) <p>713호 (주)리소프트</p></div></td>
        </tr>
    </table>
        <span class="border-b2"></span>
</div>

    <!-- 푸터 -->
    <%- include('../../partials/footer.ejs') %>    
<script src="/public/css/about/about.js"></script>
</body>
</html>