/* 바디 */
html body {
  margin: 0 auto;
  font-family: "Noto Sans KR";
}

#load {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 1;
  background: #fff;
  z-index: 299;
  text-align: center;
}
#load > img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 300;
}

/* 네비바 */
/* #header {
  width: 100%;
  height: 80px;
  position: fixed;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #dbdbdb;
}

header a {
  text-decoration: none;
  cursor: pointer;
}

header .logo {
  position: fixed;
  top: 25px;
  z-index: 100;
  height: 30px;
}

header #gon .ham {
  display: flex;
  justify-content: end;
  z-index: 200;
}

header #gon .ham img {
  position: absolute;
  top: 25px;
}

header > div > a {
  position: fixed;
  display: flex;
  width: 50px;
}

header #gon {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 80px;
  background: #fff;
  z-index: 10;
}

header #gon #main-nav {
  padding-top: 5px;
  text-align: end;
  max-width: 1440px;
  margin: 0 auto;
}

header #gon nav + div {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: 200px;
  background: rgba(24, 75, 159, 0.9);
  backdrop-filter: blur(5px);
  z-index: -1;
}

header #gon nav > ul > li {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 20px;
}

header #gon nav > ul > li > a {
  display: block;
  position: relative;
  width: 160px;
  height: 70px;
  font-size: 20px;
  color: #000;
  line-height: 70px;
  text-decoration: none;
  top: 0;
  z-index: 10;
  text-align: center;
}

header #gon nav > ul > li > a:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 40px;
  width: 0;
  height: 6px;
  background: #184b9f;
  transition: all 0.5s;
  border-radius: 20px;
}

header #gon nav > ul > li:hover > a:after {
  width: 50%;
}

header #gon nav > ul > li a:hover {
  color: #184b9f;
}

header #gon nav > ul ul {
  padding-top: 15px;
  position: absolute;
  width: 100%;
  text-align: left;
  height: 230px;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 400;
}

header #gon nav > ul ul li {
  line-height: 1.5;
  padding-left: 0;
}

header #gon nav > ul ul a {
  font-size: 20px;
  color: #fff;
  z-index: 10;
}

header #gon nav > ul ul a:hover :after {
  left: 0;
  width: 100%;
}

header #gon nav > ul ul li:hover > a {
  color: #dbdbdb;
}
.dhdl {
  margin-right: 100px;
}
.close {
  opacity: 0;
  display: none;
}

header #gon nav > ul > li .menu {
  display: none;
}

.more {
  opacity: 1;
}

.won {
  max-width: 1440px;
  width: 85vw;
  margin: 0 auto;
  height: 80px;
}

header #gon nav > ul > li > .here:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 40px;
  width: 0;
  height: 6px;
  background: #184b9f;
  border-radius: 20px;
  width: 50%;
}

header #gon nav > ul > li .here {
  color: #184b9f;
} */
/* 배너 */
.top_back {
  background: rgba(0, 0, 0, 0.3);
  height: 380px;
  position: relative;
  z-index: 5;
}

.top {
  background: url(/public/images/img4/yard-header.png) no-repeat center;
  height: 300px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  background-size: cover;
}

.top > p {
  text-align: center;

  position: absolute;

  /*height: 40px;*/

  font-size: 40px;

  color: #fff;
  z-index: 5;
  font-weight: bold;
}
.resoft-news {
  max-width: 1440px;
  width: 85vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 120px;
}

.yard-news-img {
  top: 741px;
  left: 620px;
  width: 1060px;
  height: 561px;
}

.yard-news-right {
  width: 75%;
  text-align: left;
  /* padding-top:15%;    */
}

/* 왼쪽 페이지 */
.yard-news-left {
  width: 25%;
  display: flex;
}
.yard-news-left a {
  display: flex;
  align-items: center;
  height: 42px;
  text-decoration: none;
  color: #1e1e1e;
}
.yard-news-left .list-btn .btn-circle {
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid #1e1e1e;
  background-color: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  margin-right: 20px;
}
.yard-news-left .list-btn .btn-text {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 24px;
  letter-spacing: 0.8px;
}
.yard-news-left .list-btn .list-btn-circle {
  background: url(/public/images/img4/yard-back-arrow.svg) center no-repeat;
}
.yard-news-left a:hover .list-btn-circle {
  background: url(/public/images/img4/yard-back-arrow-hover.svg) center
    no-repeat;
  transition: all 0.35s;
}
.yard-news-left a:hover .btn-text {
  color: #184b9f;
  transition: all 0.35s;
}

/* 오른쪽 페이지 */
.resoft-news .yard-news-right {
  width: 75%;
  max-width: 1060px;
}

.resoft-news-right p {
  padding-bottom: 2%;
  font-size: 16px;
}

.yard-news-title {
  width: 100%;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  margin: 0 auto;
  padding-top: 120px;
}
.yard-news-stitle {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #c8c8c8;
  margin: 0 auto;
  padding-bottom: 50px;
}
.yard-news-right p {
  letter-spacing: 0.6px;
  padding-bottom: 2%;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  top: 1352px;

  left: 620px;
}
.yard-news-right h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1.2px;
  margin-bottom: 8px;
}
.yard-news-right h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #aaaaaa;
  padding-bottom: 30px;
  border-bottom: 2px solid #184b9f;
  margin-bottom: 30px;
}
.yard-news-right .yard-news-img {
  max-width: 1060px;
  width: 100%;
  /* max-height: 620px; */
  height: 100%;
  padding-bottom: 50px;
}

/* hr */
hr {
  height: 1px;
  background-color: #184b9f;
  align-items: center;
  margin-left: 0;
}

/* 버튼 */
.btn-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-height: 42px;
  /* border: 1px solid red; */
  margin-top: 30px;
}
.btn-wrap a {
  text-decoration: none;
  color: #1e1e1e;
}
.btn-wrap .pre-btn,
.next-btn {
  display: flex;
  align-items: center;
}

.btn-wrap .btn-circle {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  border: 1px solid #1e1e1e;
  background-color: #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}
.btn-wrap .btn-text {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0.8px;
  text-align: left;
}
.list-btn-color {
  color: #9e9e9e;
}

.btn-wrap .pre-btn .pre-btn-circle {
  background: url(/public/images/img4/yard-left-arrow.svg) center no-repeat;
  margin-right: 20px;
}
.btn-wrap .next-btn .next-btn-circle {
  background: url(/public/images/img4/yard-right-arrow.svg) center no-repeat;
  margin-left: 20px;
}
.btn-wrap a:hover .pre-btn-circle {
  background: url(/public/images/img4/yard-left-arrow-hover.svg) center
    no-repeat;
}
.btn-wrap a:hover .next-btn-circle {
  background: url(/public/images/img4/yard-right-arrow-hover.svg) center
    no-repeat;
}
.btn-wrap .pre-btn:hover .pre-btn-circle,
.btn-wrap .next-btn:hover .next-btn-circle {
  background-color: #184b9f;
  border: 1px solid #184b9f;
  transition: all 0.35s;
}
.btn-wrap a:hover .btn-text {
  color: #184b9f;
  transition: all 0.35s;
}

/*------------------------푸터---------------*/

.common-footer {
  width: 100%;
  min-height: 250px;
  height: 100%;
  background: #e9e9e9;
  display: table;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 1440px;
  width: 85vw;
  min-height: 190px;
  margin: 30px auto;
  /* border: 1px solid red; */
}
.footer-logo {
  /* margin: 0 auto; */
  max-width: 1440px;
}
.footer-text {
  /* margin: 0 auto; */
  max-width: 1440px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  gap: 2vw;
  color: #9e9e9e;
}
.copyright {
  color: #9e9e9e;
  font-weight: 600;
}
.footer-left,
.footer-right {
  line-height: 1.5rem;
  flex: 1;
}

@media screen and (min-width: 769px) {
  .m-list-btn {
    display: none;
  }
}
@media screen and (max-width: 1440px) {
  header #gon {
    width: 85vw;
  }
  .resoft-news {
    width: 85vw;
  }
}

@media screen and (max-width: 1024px) {
  .dpdl {
    margin-right: 0;
  }

  header #gon #main-nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: stretch;
  }

  header #gon nav > ul > li .dpdl {
    opacity: 0;
    width: 100px;
    /*pointer-events: none*/
    z-index: -1;
  }

  header #gon nav > ul > li .menu {
    display: block;
    color: #fff;
    line-height: 3;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    /* 메뉴 선 */
    border-bottom: 1px solid #fff;
    height: 50px;
    /* width: 85px; */
  }

  header #gon nav > ul ul > a {
    text-align: center;
  }

  header #gon nav > ul ul a {
    font-size: 17px;
  }

  header #gon nav > ul ul {
    width: 83px;
    padding-left: 2vw;
    text-align: center;
    padding-top: 0px;
  }
  .news-title {
    font-size: 35px;
  }
  .sub-title {
    font-size: 15px;
  }

  .yard-news-title {
    font-size: 35px;
  }
  .yard-news-stitle {
    font-size: 15px;
  }
  .top > p {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  #load > img {
    left: 45%;
  }
  body .resoft-news {
    display: block;
    justify-content: center;
  }
  header .logo {
    position: fixed;
    left: -15px;
    top: 15px;
    z-index: 100;
    margin-left: 9%;
    height: 20px;
  }
  header #gon .ham img {
    height: 20px;
    top: 15px;
  }

  header > div > a {
    position: fixed;
    display: flex;
    right: 1%;
    top: 15px;
    width: 50px;
    z-index: 100;
    height: 20px;
  }

  header #gon nav > ul ul > a {
    height: 60px;
  }
  header #gon nav > ul > li .menu {
    display: block;
    color: #fff;
    line-height: 3;
    /* 메뉴 선 */
    margin-top: -15px;
    font-size: 18px;
    margin-bottom: 6px;
    height: 46px;
  }
  header #gon nav > ul ul li {
    line-height: 1.5;
    padding-left: 0;
  }
  #header {
    height: 50px;
  }
  header #gon {
    height: 50px;
  }

  header #gon nav + div {
    top: 50px;
    height: 200px;
  }

  header #gon nav > ul ul {
    padding-top: 0;
  }

  header #gon nav > ul ul a {
    font-size: 16px;
  }

  header #gon nav > ul > li > a {
    height: 55px;
  }

  .top {
    top: 50px;
    height: 229px;
  }
  .top > p {
    font-size: 28px;
  }
  .top_back {
    height: 279px;
  }
  .resoft-news .yard-news-right {
    max-width: 768px;
  }

  #m-yard-news-left {
    display: none;
  }
  .m-list-btn {
    display: block;
  }

  .list-btn-color {
    color: #9e9e9e;
  }

  .yard-news-right {
    display: initial;
    margin: 0 auto;
  }

  .yard-news-title {
    padding-top: 10vw;
    font-size: 28px;
    line-height: 42px;
  }
  .yard-news-stitle {
    font-size: 14px;
    line-height: 26px;
  }
  .yard-news-right h1 {
    font-size: 22px;
    letter-spacing: 0.8px;
    margin-bottom: 0;
  }
  .yard-news-right h4 {
    font-size: 13px;
    letter-spacing: 0;
  }

  /* 푸터 */
  .common-footer .footer-logo img {
    /* margin-top: ; */
    max-width: 128px;
  }
  .common-footer .copyright {
    font-size: 13px;
    color: #9e9e9e;
  }
  .common-footer .footer-left,
  .common-footer .footer-right {
    font-size: 14px;
    line-height: 18px;
  }
  .common-footer .footer-text {
    max-width: 768px;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 430px) {
  #load > img {
    left: 42%;
  }
  .top > p {
    font-size: 22px;
  }

  .yard-news-title {
    font-size: 22px;
    line-height: 30px;
  }
  .yard-news-stitle {
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 30px;
  }
  .yard-news-right h1 {
    font-size: 18px;
    letter-spacing: 0.8px;
    margin-bottom: 0;
  }
  .yard-news-right h4 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .yard-news-right .yard-news-img {
    padding-bottom: 30px;
  }

  .btn-wrap .btn-circle {
    width: 30px;
    height: 30px;
  }
  .btn-wrap .pre-btn .pre-btn-circle,
  .btn-wrap a:hover .pre-btn-circle,
  .btn-wrap .next-btn .next-btn-circle,
  .btn-wrap a:hover .next-btn-circle {
    background-size: 50%;
  }
  .btn-wrap .pre-btn .pre-btn-circle {
    margin-right: 10px;
  }
  .btn-wrap .next-btn .next-btn-circle {
    margin-left: 10px;
  }
  .btn-wrap .btn-text {
    font-size: 13px;
  }
  /* 푸터 */
  .common-footer .footer-logo img {
    /* margin-top: ; */
    max-width: 100px;
    padding-top: 2vw;
  }
  .common-footer .copyright {
    font-size: 10px;
    word-break: keep-all;
  }
  .common-footer .footer-logo span {
    line-height: 26px;
    display: block;
  }
  .common-footer .footer-left,
  .common-footer .footer-right {
    font-size: 12px;
    line-height: 16px;
  }
  .common-footer .footer-text {
    max-width: 768px;
    gap: 2vw;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-all;
  }
  /* .common-footer .footer-text span {
    display: block;
  } */
}
@media screen and (max-width: 340px) {
  header #gon nav > ul > li .dpdl {
    width: 80px;
  }

  header #gon nav > ul > li .menu {
    font-size: 14px;
    margin-top: -8px;
  }

  header #gon nav > ul ul {
    width: 65px;
    padding-left: 3vw;
  }

  header #gon nav > ul ul a {
    font-size: 11px;
  }
}
@media screen and (max-width: 290px) {
  header #gon nav > ul > li .dpdl {
    width: 70px;
  }

  header #gon nav > ul > li .menu {
    font-size: 13px;
    margin-top: -8px;
  }

  header #gon nav > ul ul {
    width: 65px;
    padding-left: 1vw;
  }

  header #gon nav > ul ul a {
    font-size: 10px;
  }
}