<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Resoft</title>
	<link rel="shortcut icon" href="/public/user/main/web.png" type="image/x-icon" />
	<link rel="image" href="/public/user/main/WEB.jpg"/>
	<link rel="image" href="/public/user/main/APP.jpg"/>
	<link rel="image" href="/public/user/main/AI.jpg"/>
	<link rel="image" href="/public/user/main/XR.jpg"/>
	<link rel="stylesheet" type="text/css" href="/cssUser/basic.css" />
	<link rel="stylesheet" type="text/css" href="/cssUser/content.css" />
	<link rel="stylesheet" type="text/css" href="/cssUser/main.css" />
	<link rel="stylesheet" type="text/css" href="/cssUser/reset.css" />
	<link rel="stylesheet" type="text/css" href="/cssUser/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="/cssUser/icg.css" />
	<link rel="stylesheet" type="text/css" href="/cssUser/jquery.bxslider.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<link rel="stylesheet" href="/public/wow/animate.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/af2a9fd141.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/jsUser/jquery.bxslider.min.js"></script>
	<script src="/jsUser/owl.carousel.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/public/wow/wow.min.js"></script>
</head>

<div class="topBtn">
	<button class="move"><i class="fa-solid fa-angle-up"></i></button>
	<p>TOP</p>
</div>
<header class="header">
	<!-- <img src="/public/user/main/헤더배경사이드.png" alt="" class="header-side-img"> -->
	<div class="wrapper">
		<div id="menupc-wrapper">
			<div class="top_wrap">
				<div class="img-wrap">
					<a href="/"><img src="/public/user/main/리소프트로고.png" alt="로고"></a>
				</div>
				<!-- <ul class="menu">
					<li><a href="#">ABOUT</a></li>
					<li><a href="#">SERVICES</a></li>
					<li><a href="#">PROJECTS</a></li>
					<li><a href="#">RE:DESIGN</a></li>
					<li><a href="#">ECO-CLEAN EARTH</a></li>
				</ul> -->
			</div>
		</div>
		<div id="submenu-wrapper" style="margin-top: -27em">
			<div class="menu_cont_wrap">
				<div class="menu_cont">
					<ul class="submenu">
						<li class="sub_tit"><a href="/sub01_1">이사장인사말</a></li>
						<li class="sub_tit"><a href="/sub01_2">대학연혁</a></li>
						<li class="sub_tit"><a href="/sub01_3">조직도</a></li>
						<li class="sub_tit"><a href="/sub01_4">오시는길</a></li>
					</ul>
					<ul class="submenu">
						<li class="sub_tit"><a href="/sub02_1">등록안내</a></li>
						<li class="sub_tit"><a href="/sub02_2">신입생모집</a></li>
						<li class="sub_tit"><a href="/user/regist">온라인입학신청</a></li>
					</ul>
					<ul class="submenu">
						<li class="sub_tit"><a href="/user/curriculum">교과과정</a></li>
						<li class="sub_tit"><a href="/user/schedule">학사일정</a></li>
					</ul>
					<ul class="submenu">
						<li class="sub_tit"><a href="/sub04_1">총동창회</a></li>
					</ul>
					<ul class="submenu">
						<li class="sub_tit"><a href="/user/notice?page=1">공지사항</a></li>
						<li class="sub_tit"><a href="/user/reference?page=1">자료실</a></li>
						<li class="sub_tit"><a href="/user/gallery?page=1">갤러리</a></li>
					</ul>
				</div>
			</div>
		</div>



		<div id="gnb_m">
			<div class="top_wrap">
				<a href="/"><img src="/public/user/main/리소프트로고.png" alt="로고"></a>
			</div>
		<!--
			<div id="menu-container">
				<div id="menu-wrapper">
					<div id="hamburger-menu"><span></span><span></span><span></span></div>
					<!- - hamburger-menu - ->
				</div>
				<!- - menu-wrapper - ->
				<ul class="menu-list accordion" style="display: none;">
					<li id="nav1" class="toggle accordion-toggle">
						<span class="icon-plus"></span>
						<div class="menu-link">대학소개</div>
					</li>
					<!- - accordion-toggle - ->
					<ul class="menu-submenu accordion-content">
						<li><a class="head" href="/sub01_1">이사장인사말</a></li>
						<li><a class="head" href="/sub01_2">대학연혁</a></li>
						<li><a class="head" href="/sub01_3">조직도</a></li>
						<li><a class="head" href="/sub01_4">오시는길</a></li>
					</ul>
					<!- - menu-submenu accordon-content- ->
					<li id="nav2" class="toggle accordion-toggle">
						<span class="icon-plus"></span>
						<div class="menu-link">입학안내</div>
					</li>
					<!- - accordion-toggle - ->
					<ul class="menu-submenu accordion-content">
						<li><a class="head" href="/sub02_1">등록안내</a></li>
						<li><a class="head" href="/sub02_2">신입생모집</a></li>
						<li><a class="head" href="/user/regist">온라인입학신청</a></li>
					</ul>
					<!- - menu-submenu accordon-content- ->
					<li id="nav3" class="toggle accordion-toggle">
						<span class="icon-plus"></span>
						<div class="menu-link">교과과정</div>
					</li>
					<!- - accordion-toggle - ->
					<ul class="menu-submenu accordion-content">
						<li><a class="head" href="/user/curriculum">교과과정</a></li>
						<li><a class="head" href="/user/schedule">학사일정</a></li>
						<!- - <li><a class="head" href="/user/inquiriesWrite.action">고객지원</a></li>
                            <li><a class="head" href="/user/contents.action?top=3&sub=4">오시는길</a></li> - ->
					</ul>
					<!- - menu-submenu accordon-content- ->
					<li id="nav4" class="toggle accordion-toggle">
						<span class="icon-plus"></span>
						<div class="menu-link">총동창회</div>
					</li>
					<!- - accordion-toggle - ->
					<ul class="menu-submenu accordion-content">
						<li><a class="head" href="/sub04_1">총동창회</a></li>
					</ul>
					<li id="nav3" class="toggle accordion-toggle">
						<span class="icon-plus"></span>
						<div class="menu-link">커뮤니티</div>
					</li>
					<!- - accordion-toggle - ->
					<ul class="menu-submenu accordion-content">
						<li><a class="head" href="/user/notice?page=1">공지사항</a></li>
						<li><a class="head" href="/user/reference?page=1">자료실</a></li>
						<li><a class="head" href="/user/gallery?page=1">갤러리</a></li>
						<!- - <li><a class="head" href="/user/inquiriesWrite.action">고객지원</a></li>
                            <li><a class="head" href="/user/contents.action?top=3&sub=4">오시는길</a></li> - ->
					</ul>
					<!- - menu-submenu accordon-content- ->
					<!- - <li id="nav5" class="toggle accordion-toggle"> 
                            <span class="icon-plus"></span>
                            <a class="menu-link" href="/user/board.action?type=notice">공지사항</a>
                         </li> - ->
					<!- - accordion-toggle - ->
					<!- - <ul class="menu-submenu accordion-content">
                            <li><a class="head" href="/user/board.action?type=notice">공지사항</a></li>   
                         </ul> - ->
					<!- - menu-submenu accordon-content- ->
				</ul>
				<!- - menu-list accordion- ->
			</div>
			<!- - menu-container - -> 
-->
		</div>
	</div>
	<div class="banner-wrap">
		<div class="bannerText-wrap wow fadeInLeft" data-wow-delay="0.3s">
			<div class="bannerText">
				<p>Evolution<br />
					With New Software
				</p>
				<p><span>Mobile APP(Android/iOS) Development, </span><span>AI Bigdata Analysis, MetaVerse, </span>
					<span><span>Responsive WEBsite, Brand Design Launch, </span><span>ICT Consulting</span></span>
				</p>
			</div>
			<!-- <button>서비스 문의</button> -->
		</div>
		<div class="img-wrap">
			<img src="/public/user/main/메인뇌.png" alt="" class="wow fadeInRight" data-wow-delay="0.5s">
		</div>
	</div>
</header>

<script>
	
	// // 애니메이션
	// let bannerImg = document.querySelector('.bannerImg');
	// let bannerTextWrap = document.querySelector('.bannerText-wrap');
	
	// window.addEventListener("scroll", function() {
	// 	let value = window.scrollY;
		
	// 	if(value < 600) {
	// 		bannerTextWrap.style.animation = "fade-in-left 1s ease-in forwards";
	// 		bannerImg.style.animation = "fade-in-right 1s ease-in forwards";
	// 	}
	// });

	var bannerTextWrap = document.getElementsByClassName('bannerText-wrap')[0]
	var width = bannerTextWrap.clientWidth;
	var halfWidth = width / 2;
		if (window.matchMedia("screen and (max-width: 940px)").matches) {
			$(bannerTextWrap).css({ 'left': 'calc(50% - ' + halfWidth + 'px)' });
		}

	window.addEventListener('resize', function() {
		if (window.matchMedia("screen and (max-width: 940px)").matches) {
				$(bannerTextWrap).css({ 'left': 'calc(50% - ' + halfWidth + 'px)' });
			} else {
					bannerTextWrap.style.left = "0";
				}
			}
		);

	var moveBtn = document.getElementsByClassName('move')[0];
	moveBtn.addEventListener('click', function() {
		var offsetY = window.pageYOffset;
		if(offsetY !== 0) {
			window.scrollTo({
				top: 0,
				behavior: 'smooth'
		})
	}
})
</script>

<script>
	$(document).ready(function () {
		/* $('#submenu-wrapper').css('margin-top', '-22em'); */
		/* Assign Variables*/
		// 서브메뉴
		// menu = $('.menu li');
		// submenuWrapper = $('#submenu-wrapper');
		// submenu = submenuWrapper.children('ul');
		// firstSubmenu = submenu.eq(0);

		// $('.menu li').mouseover(function () {
		// 	//$('#submenu-wrapper').show();

		// 	$('#submenu-wrapper').stop().animate({
		// 		'marginTop': '0.04em'
		// 	});
		// });

		// $('#submenu-wrapper').mouseleave(function () {
		// 	$('#submenu-wrapper').animate({
		// 		'marginTop': '-27em'
		// 	});
		// });


		// function slideMenu() {
		// 	var activeState = $("#menu-container .menu-list").hasClass("active");

		// 	if (activeState) {
		// 		$("#menu-container .menu-list").show();
		// 	}

		// 	$("#menu-container .menu-list").animate({
		// 		right: activeState ? "0%" : "-100%"
		// 	}, 400, null, function () {
		// 		if (!activeState) {
		// 			$("#menu-container .menu-list").hide();
		// 		}
		// 	});
		// }
		// $("#menu-wrapper").click(function (event) {
		// 	event.stopPropagation();
		// 	$("#hamburger-menu").toggleClass("open");
		// 	$("#menu-container .menu-list").toggleClass("active");
		// 	slideMenu();

		// 	$("body").toggleClass("overflow-hidden");
		// });

		// $(".menu-list").find(".accordion-toggle").click(function () {
		// 	$(this).next().toggleClass("open").slideToggle("fast");
		// 	$(this).toggleClass("active-tab").find(".menu-link").toggleClass("active");

		// 	$(".menu-list .accordion-content").not($(this).next()).slideUp("fast").removeClass("open");
		// 	$(".menu-list .accordion-toggle").not(jQuery(this)).removeClass("active-tab").find(
		// 		".menu-link").removeClass("active");
		// });

		new WOW().init();
		// const subs = document.getElementById('subs2');
		// const sub_option = document.getElementsByClassName('sub_option');
		// console.log(subs);
		// subs.addEventListener('click', function(){
		// 	if(sub_option[0].style.display == '') {

		// 	sub_option[0].style.display = 'block';
		// 	} else {
		// 		sub_option[0].style.display = '';
		// 	}
		// });

		// 	var toggleBtn = document.querySelector('#subs2.subs');
		// 	toggleBtn.addEventListener('click', () => {
		// 	document.querySelector('.sub_option').classList.toggle("option_active");
		// });

	// 	if (window.matchMedia("screen and (max-width: 940px)").matches) {
	// 	var footerSideImg = document.getElementsByClassName('footer-side-img')[0];
	// 	footerSideImg.setAttribute('src', '/public/user/main/푸터사이드767.png');
	// }
	});
</script>